In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import scipy
from scipy.stats import wilcoxon
import datetime

Get total amount spent in each state for the 2024 election.

In [3]:
spending_24_df = pd.read_csv("spending_data_2024.csv", index_col=False, low_memory=False)
spending_24_df.groupby('recipient_st').sum('disb_amt')
# spending_24_df.head()

                disb_amt    file_num
recipient_st
AA               1083.14     3529480
AB              38640.00     7005962
AK              40622.68    26776335
AL            2694090.45   366284832
AR            1106093.81  1756141091
...                  ...         ...
WA            2694733.62  5726650455
WI            3724874.76   903105847
WV             175177.12    71390972
WY            5527156.79   557967573
ZZ             533015.80   684982547

[72 rows x 2 columns]