# **Final Project: Checkpoint 2**
(5 points) Data preprocessing: (a) import, (b) parse (e.g., convert strings to ints), (c) organize (e.g., set up a database or a pandas DataFrame).

(20 points) Basic data exploration and summary statistics
 - You must present three conclusions using at least three different statistical
methods including hypothesis testing.
    - For example: What are the main characteristics of your dataset? How
many features and entries are there? Is a feature over-represented? Are
features correlated? Are there outliers? Identify the attributes that will
affect your choice of primary analysis technique. Etcetera.
 - For each method, you must have at least one gorgeous plot.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt

In [2]:
# https://www.fec.gov/data/candidates/president/presidential-map/ 
# spending - allcandidates 
spending_df = pd.read_csv("spending_data.csv", index_col=False)
spending_df

/tmp/ipykernel_4917/2008950849.py:3: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  spending_df = pd.read_csv("spending_data.csv", index_col=False)

,cmte_id,cand_id,cand_nm,recipient_nm,disb_amt,disb_dt,recipient_city,recipient_st,recipient_zip,disb_desc,memo_cd,memo_text,form_tp,file_num,tran_id,election_tp
0,C00540302,P40012155,"Scott, Timothy E.",THREE ARBOR INSURANCE INC,26630.07,31-AUG-23,VESTAVIA,AL,35243,INSURANCE,NaN,NaN,SB23,1731524,SB23.960154,P2024
1,C00540302,P40012155,"Scott, Timothy E.",THREE ARBOR INSURANCE INC,10342.13,15-SEP-23,VESTAVIA,AL,35243,INSURANCE,NaN,NaN,SB23,1731524,SB23.960155,P2024
2,C00540302,P40012155,"Scott, Timothy E.",WALMART,10.60,28-JUN-23,BENTONVILLE,AR,72716,OFFICE SUPPLIES,X,NaN,SB23,1731524,SB23.951080.003,P2024
3,C00540302,P40012155,"Scott, Timothy E.",WALMART,152.88,15-SEP-23,BENTONVILLE,AR,72716,OFFICE SUPPLIES,X,NaN,SB23,1731524,SB23.966491.284,P2024
4,C00540302,P40012155,"Scott, Timothy E.",WALMART,218.00,15-SEP-23,BENTONVILLE,AR,72716,OFFICE SUPPLIES,X,NaN,SB23,1731524,SB23.966491.285,P2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112107,C00867812,P40019218,"Terry, Randal Allan",MOUNT JACKSON TRUCK CENTER,219.11,29-JUL-24,MOUNT JACKSON,VA,22842,FOOD/SHOWERS,NaN,NaN,SB23,1812531,SB23.6419,G2024
112108,C00867812,P40019218,"Terry, Randal Allan",SWEETWATER TAVERN,215.41,08-AUG-24,CENTREVILLE,WA,20121,FOOD,NaN,NaN,SB23,1816947,SB23.6524,G2024
112109,C00867812,P40019218,"Terry, Randal Allan","GABRIEL, MARK",153.75,30-JUN-24,APPLETON,WI,54915,FUND RAISING,NaN,NaN,SB23,1804884,SB23.5890,G2024
112110,C00867812,P40019218,"Terry, Randal Allan","GABRIEL, MARK",316.25,01-AUG-24,APPLETON,WI,54915,FUNDRAISING,NaN,NaN,SB23,1816947,SB23.6464,G2024
112111,C00867812,P40019218,"Terry, Randal Allan","GABRIEL, MARK",152.50,14-JUN-24,APPLETON,WI,54915,FUND RAISING,NaN,NaN,SB23,1804884,SB23.5888,G2024

In [3]:

cand_info = pd.read_csv("weball24.txt", delimiter='|')
cand_info

,CAND_ID,CAND_NAME,CAND_ICI,PTY_CD,CAND_PTY_AFFILIATION,TTL_RECEIPTS,TRANS_FROM_AUTH,TTL_DISB,TRANS_TO_AUTH,COH_BOP,...,SPEC_ELECTION,PRIM_ELECTION,RUN_ELECTION,GEN_ELECTION,GEN_ELECTION_PRECENT,OTHER_POL_CMTE_CONTRIB,POL_PTY_CONTRIB,CVG_END_DT,INDIV_REFUNDS,CMTE_REFUNDS
0,H2AK00200,"CONSTANT, CHRISTOPHER",C,1,DEM,0.00,0.00,0.00,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,0.00,0.00,09/30/2024,0.00,0.00
1,H2AK01158,"PELTOLA, MARY",I,1,DEM,10668705.84,617668.60,8324352.37,0.00,691260.30,...,NaN,NaN,NaN,NaN,NaN,1385214.20,7208.83,09/30/2024,112286.11,2500.00
2,H2AK00226,"PALIN, SARAH",O,2,REP,3866.49,0.00,50246.07,0.00,46379.58,...,NaN,NaN,NaN,NaN,NaN,0.00,0.00,03/31/2023,-9152.50,0.00
3,H2AK01083,"BEGICH, NICHOLAS III",C,2,REP,1789869.45,112470.80,1390345.73,17659.66,41233.99,...,NaN,NaN,NaN,NaN,NaN,117050.00,5000.00,09/30/2024,10535.00,0.00
4,H4AK00156,"DAHLSTROM, NANCY",C,2,REP,982395.15,423333.44,781568.25,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,262916.02,0.00,09/30/2024,3135.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3792,S4WV00423,"LINDSAY, DONALD",O,2,REP,9792.33,0.00,9792.33,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,0.00,0.00,06/30/2024,0.00,0.00
3793,S4WY00188,"MORROW, SCOTT D MR",C,1,DEM,36054.82,0.00,4439.65,2200.00,0.00,...,NaN,NaN,NaN,NaN,NaN,5000.00,1000.00,09/30/2024,0.00,0.00
3794,S0WY00137,"LUMMIS, CYNTHIA MARIE MRS.",I,2,REP,546175.07,111073.95,195781.29,5000.00,115856.76,...,NaN,NaN,NaN,NaN,NaN,220084.83,0.00,09/30/2024,8850.00,0.00
3795,S4WY00162,"RASNER, REID",C,2,REP,1304150.64,0.00,1294697.64,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,0.00,0.00,09/30/2024,0.00,0.00
3796,S6WY00068,"BARRASSO, JOHN A",I,2,REP,7304198.72,1243302.04,3398221.67,0.00,4487576.49,...,NaN,NaN,NaN,NaN,NaN,2577770.00,0.00,09/30/2024,45724.43,5215.26

In [4]:

poll_data = pd.read_csv("presidential_general_averages.csv")
poll_data

,candidate,date,pct_trend_adjusted,state,cycle,party,pct_estimate,hi,lo
0,Joseph R. Biden Jr.,2020-11-03,37.82732,Alabama,2020,NaN,NaN,NaN,NaN
1,Donald Trump,2020-11-03,57.36126,Alabama,2020,NaN,NaN,NaN,NaN
2,Joseph R. Biden Jr.,2020-11-02,37.82732,Alabama,2020,NaN,NaN,NaN,NaN
3,Donald Trump,2020-11-02,57.36126,Alabama,2020,NaN,NaN,NaN,NaN
4,Joseph R. Biden Jr.,2020-11-01,38.07011,Alabama,2020,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
28526,Kennedy,2024-03-02,NaN,Wisconsin,2024,IND,10.28615,12.852725,7.514286
28527,Biden,2024-03-02,NaN,Wisconsin,2024,DEM,38.73255,41.180613,36.214855
28528,Trump,2024-03-01,NaN,Wisconsin,2024,REP,41.58205,43.986072,39.224702
28529,Kennedy,2024-03-01,NaN,Wisconsin,2024,IND,10.30900,13.044215,7.668578
28530,Biden,2024-03-01,NaN,Wisconsin,2024,DEM,38.85280,41.241032,36.374370